@use '../sass/utils/vars' as *;
@use '../sass/components' as *;

.body {
  overflow-x: hidden;
  font-family: 'IBM Plex Sans', sans-serif;
  color: $c-primary-700;
  background-image: url('../assets/bg-main-mobile.png');
  background-position-y: -16rem;
  background-repeat: no-repeat;
  font-size: $fs-primary-100;
  &__decoration {
    overflow: hidden;
    display: none;
  }
}

.header {
  display: none;
}

.logo {
  display: block;
}

.social-box {
  display: flex;
  gap: 1.25rem;
}

@media (min-width: 30em) {
  .body {
    background-image: url('../assets/bg-main-tablet.png');
    background-position-x: -26rem;
  }
  .body__decoration {
    width: 16.5rem;
    display: block;
    position: absolute;
    top: -2rem;
    right: -2.25rem;
  }
  .header {
    display: inline-block;
    padding-top: 3.875rem;
  }
}

@media (min-width: 70em) {
  .body {
    background-image: url('../assets/bg-main-desktop.png');
  }
  .body__decoration {
    right: 0;
  }
}

.attribution {
  width: calc(100vw - 3rem);
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: max(10px, 1vh);
  text-align: center;
}

.attribution a {
  color: $c-primary-700;
  font-weight: 700;
}
