@use '../utils/vars' as *;
@use '../components/typography' as *;

.footer {
  position: relative;
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 2rem;
  }
  &__text {
    max-width: 22.75rem;
    @extend .text-400;
    &--email {
      text-decoration: none;
      color: $c-primary-700;
      font-weight: 700;
    }
  }
}

@media (min-width: 30em) {
  .footer__box {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 70em) {
  .footer__box {
    margin: 0;
    flex-grow: 1;
  }
}
