$c-primary-100: hsl(20, 33%, 98%);
$c-primary-700: hsl(244, 23%, 12%);

$c-accent-400: hsl(33, 100%, 70%);
$c-accent-600: hsl(177, 68%, 64%);

$bg-primary-500: hsl(12, 94%, 65%);

$fs-primary-550: 5.5rem;
$fs-primary-400: 4rem;
$fs-primary-250: 2.5rem;
$fs-primary-125: 1.25rem;
$fs-primary-112: 1.125rem;
$fs-primary-100: 1rem;
$fs-primary-200: 2rem;